* {
	padding: 0;
	margin: 0;
}
body{
	font-family:'HelveticaNeue-Light','Helvetica Neue Light',
				'Helvetica Neue', Helvetica, Arial;
}
a {
	text-decoration: none;
}
h1, h2{
	font-family: 'HelveticaNeue-UltraLight';
	font-weight: lighter;
	color:#666;
	letter-spacing: .05em;
}
h1 {
	font-size: 24px;
}
h2 {	
	font-size: 21px;
}
h3{
	font-family: Helvetica;
	font-size: 40px;
	color: #666;
	margin-top: 50%;
}
.wrap{
	margin: auto;
	width:1280px;
	overflow: hidden;	
}
/*
**************
Aside
**************
*/ 
aside, .container{
	min-height: 1000px;
}
.container{
	width: 1092px;
	float: left;
	position: relative;
}
aside{
	background: #191818;
	float: left;
	width:188px;
	color: #666666;	
}
.logo{
	
	text-indent: -9999px;	
}
.logo a{
	background: url(../img/TDW.png) no-repeat;
	width: 99px;
	height: 35px;
	display: block;
	margin: 40px auto 20px;
}
aside img{
	display: block;
	margin:auto;
}
.user-settings{
	width: 188px;
	text-align: center;
	margin: 30px auto 40px auto;
}
.user-settings .icon{
	margin: 2px;
}
ul.user-settings li {
	display: inline-block;
}
ul.user-settings li a{
	display: inline-block;
}
.indent-left{
	text-indent: -9999px;
	display: inline-block;
}

ul.user-settings .upload{
	background-position: -10px -320px;
}
ul.user-settings .settings{
	background-position: -10px -292px;
}
ul.user-settings .logout{
	background-position: -10px -264px;
}
/*
**************
Aside.Nav
**************
*/ 
nav {
	clear: both;
}

nav ul li a{
	color: #666;
	list-style:none;
	padding: 10px 3px;
	padding-left: 30px;
	display: block;
}
.icon{
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 20px;
	background: url(../img/icon_sprite.png) no-repeat;
}
.dashboard{
	background-position: -9px -100px;
}
.user{
	background-position: -9px -13px;
}
.media{
	background-position: -9px -56px;
}
.mediaa{
	background-position: -9px -56px;
	background: url(../img/icon_sprite.png) no-repeat;
}
.widgets{
	background-position: -9px -100px;
}
.statistics{
	background-position: -9px -100px;
}
.reports{
	background-position: -9px -100px;
}
.info{
	background-position: -9px -100px;
}

.selected a, nav li a:hover{
/*	background: url(../img/selected.png)top left no-repeat;*/
	color: white;
	border-left: 3px #d8381f solid;
	background: #444;
}
 nav li a:hover .icon, nav li.selected a .icon{
 	margin-left: -3px;
 }
/*
****************
* Header
****************
*/
header{
	background-color: #f2f2f2;
	padding: 30px;
	overflow: hidden;
}
header h1, p, form{
	float: left;
}
header h1 {
	
	font-weight: normal;
	font-size: 3.0em;
	margin-right: 15px;
	color: #999;
	letter-spacing: .02em;
}
header p {
	margin-top: 20px;
	font-size: 18px;
	color: #acacac;
}
header form{
	float: right;
	margin-top: 10px;
}
::-webkit-input-placeholder{
	font-style: italic;
}
input{
	-webkit-appearance:none;
}
header form input {
	height: 34px;
	width: 223px;
	border: 1px solid #e8e8e8;
	border-radius: 2px;
	padding: 5px;
	font-size: 14px;
}
.submit{
	width: 20px;
	height: 20px;
	background: #fff;
	display: inline-block;
	margin: -35px;
	cursor: pointer;
}
.help{
	width: 123px;
	height: 38px;
	background-color: #fdaa29;
	text-transform: uppercase;
	color: white;
	font-size:14px;
	border: none;
	border-radius: 2px;
	display: inline-block;
	text-align: center;
	line-height: 36px;
	float: right;
}
/*
****************
* Main 
****************
*/
.main{
	float: left;
	padding: 40px;
	position: relative;
}
.main h1{
	margin:0 0 40px;
}
.weekly{
	float: left;
	width: 630px;
	height:290px;
	margin-right: 80px;

}
.usage{
	float: right;
	margin: 0;
	width: 278px;
	height: 260px;
}
.progress{
	float: left;
	clear: both;
	width: 100%;
	margin-top: 50px; 
}
.blue, .red, .orange, .green {
	float: left;
	width: 145px;
	height: 185px;
	text-align: center;
	margin-left: 130px;
	position: relative;
}
.blue{
	background: url(../img/EllipseBlue.png) no-repeat;
	background-position: 0 60px;
	margin-left: 0;
}
.blue h2{
	color:#56a8e7;
}
.red{
	background: url(../img/EllipseRed.png) no-repeat;
	background-position: 0 60px;
}
.red h2{
	color:#f1705c;
}
.orange{
	background: url(../img/EllipseOrng.png) no-repeat;
	background-position: 0 60px;
}
.orange h2{
	color:#fdaa29;
}
.green{
	background: url(../img/EllipseGreen.png) no-repeat;
	background-position: 0 60px;
	margin-right: 0;
}
.green h2{
	color:#8fc842;
}
.blue .overlay, .red .overlay, .orange .overlay, .green .overlay{
	background: #999;
	opacity: .5;
	width: 145px;
	height: 185px;
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
}
.blue:hover .overlay, .red:hover .overlay, .orange:hover .overlay, .green:hover .overlay{
	display: block;
}
